.contacts {
  &__information {
    @include pageGrid;
  }

  &__map {
    width: 100%;
    margin-bottom: 20px;
    background-color: grey;
    border: 2px solid #8e8e8e;
    border-radius: 2%;

    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 12;
    }

    @include onDesktop {
      grid-column: span 12;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 12;
    }

    @include onDesktop {
      grid-column: span 12;
    }
  }

  &__data {
    display: grid;
    row-gap: 8px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &:last-child {
      padding-bottom: 60px;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 20px;
    color: #c6995a;

  }

  &__description {
    margin: 0;
    font-size: 15px;

    &:last-child {
      margin-bottom: 10px;
    }
  }

  &__button {
    grid-column: 1 / -1;
    width: 100%;
    text-align: center;
    background-color: $main-text-color;
    border-radius: 40px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 10px;

    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    line-height: 27px;
    color: $secondary-text-color;
    transition: $effectDuration;

    &:hover {
      box-shadow: 1px 4px 16px #e8e8f066;
    }

    &:active {
      box-shadow: 1px 4px 16px #e8e8f0a3;
    }

    @include onTablet {
      grid-column: 3 / 5;
      width: 392px;
    }

    @include onDesktop {
      grid-column: 5 / 9;
      width: 340px;
    }
  }

  &__link {
    text-decoration: none;
    color: $main-text-color;
    transition: color $effectDuration;

    &:hover {
      color: #7e7e83;
    }

    &--working-days {
      margin: 0;
      color: #c5a77e;
    }
  }

  &__social-media {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    &-item {
      margin-bottom: 20px;

      color: #fff;
      text-decoration: none;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 2px;
      font-weight: bold;

      transition: color $effectDuration;

      &:hover {
        color: #7e7e83;
      }

      @include onTablet {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }

  &__copyright {
    display: flex;
    justify-content: center;

    &--description {
      margin: 0;
      font-size: 10px;
    }
  }
}