/* stylelint-disable no-descending-specificity */
.stars {
  display: flex;
  justify-content: center;

  &__star:not(:last-child) {
    margin-right: 4px;
  }

  &__star {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    height: 16px;
    width: 16px;
  }

  @for $starActive from 1 through 5 {
    &--#{$starActive} &__star:nth-child(-n + #{$starActive}) {
      background-image: url("../images/feedback/star-active.svg");
    }
  }
}
